.about-us {
  padding-top: 88px;
  padding-bottom: 80px;
}

.about-us__wrapper {
  display: flex;
}

.about-us__image-wrapper {
  flex-shrink: 0;
}

.about-us__text-wrapper {
  margin-left: 10.5%;
  margin-top: 105px;
}

.about-us__text-wrapper h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $color-lucky-point;
  margin: 0 0 25px 0;
}

.about-us__text-wrapper p {
  max-width: 584px;
  font-weight: 400;
  line-height: 150%;
  color: $color-sheep-cover;
  margin: 0 0 15px 0;

  &:last-of-type {
    margin-bottom: 32px;
  }
}

.about-us__btn {
  min-width: 151px;
  min-height: 51px;
}
