.nav__list {
  max-width: 528px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none;
}

.nav__list-item {
  &:not(:last-child) {
    margin-right: 33px;
  }
}

.nav__list-item a {
  font-weight: 500;
  font-size: 16px;
  color: $color-lucky-point;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
