.reservation {
  padding-top: 80px;
}

.reservation__text-wrapper {
  text-align: center;
  margin-bottom: 90px;
}

.reservation__text-wrapper h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: $color-lucky-point;
  letter-spacing: -0.01em;
  margin: 0 0 24px 0;
}

.reservation__text-wrapper p {
  max-width: 588px;
  font-weight: 400;
  line-height: 150%;
  color: $color-sheep-cover;
  margin: 0 auto 0 auto;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 31px;
  }
}

.reservation__btn {
  min-width: 165px;
  min-height: 51px;
}

.reservation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
